@import url('/src/assets/fonts/fonts.css');

:root {
  /* Colors  */
  --text-light: #383838;
  --bg-light: #d9d9d9;
  --bento-block: #ffffff;
  --not-active: #c0c0c0;
  --accent-color-1: #ffa500;
  --accent-color-2: #3d68ed;

  /* Radius */
  --br-small: 7px;
  --br-big: 14px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
  color: var(--text-light);
}

a {
  text-decoration: none;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
}

hr {
  margin: 25px 0;
  border: 1px solid #b3b3b3;
}
#app {
  padding: 15px;
}

body {
  position: relative;
  background-color: var(--bg-light);
}

button {
  appearance: none;
  cursor: pointer;
  width: 100%;
  padding: 15px 30px;
  color: #fff;
  font-size: 22px;
  font-weight: 550;
  background-color: var(--accent-color-2);
  border: none;
  border-radius: var(--br-small);
}

button:hover {
  filter: brightness(0.9);
}

table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #b3b3b3;
}

th,
td {
  text-align: left;
  font-size: 18px;
}

th {
  padding: 20px 10px;
}

td > input {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 20px;
  font-weight: 500;
  padding: 15px;
  background-color: transparent;
}

input {
  font-size: 20px;
  padding: 10px;
  border: 1px solid #b3b3b3;
  border-radius: var(--br-small);
}

input:focus {
  outline: 2px solid var(--accent-color-2);
}

td.number {
  padding: 15px;
}

th {
  background-color: rgba(0, 0, 0, 0.05);
}

label {
  text-wrap: nowrap;
}
